[workspace]
members = ["cell-sdk", "cell-macros", "cell-cli"]
exclude = ["examples/*"]
resolver = "2"

[workspace.dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
anyhow = "1"
