# Deny usage of unsafe code outside of specific packages
[licenses]
unlicensed = "deny"
copyleft = "deny"
allow-osi-fsf-free = "apache-2.0"
confidence-threshold = 0.8

[bans]
multiple-versions = "warn"
wildcards = "allow"

[sources]
unknown-registry = "deny"
unknown-git = "deny"

[advisories]
ignore = []