[package]
name = "database"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
tokio = { version = "1", features = ["full"] }
cell-sdk = { path = "../../../cell-sdk" }
cell-macros = { path = "../../../cell-macros" }
cell-model = { path = "../../../cell-model" }
serde = { version = "1.0", features = ["derive"] }
tracing = "0.1"
tracing-subscriber = "0.3"

[build-dependencies]
cell-build = { path = "../../../cell-build" }
