[package]
name = "cell-transport"
version = { workspace = true }
edition = { workspace = true }

[features]
default = ["std", "shm", "axon"]
# The Body
std = []
# The Organs
shm = ["std", "dep:nix", "dep:memmap2"]
axon = ["std", "dep:cell-axon"]

[dependencies]
cell-model = { workspace = true }
rkyv = { workspace = true }
rand = { workspace = true }
blake3 = { workspace = true }
anyhow = { workspace = true }

# Optional Dependencies (Gated)
cell-axon = { workspace = true, optional = true }
tokio = { workspace = true, optional = true }
nix = { workspace = true, optional = true }
memmap2 = { workspace = true, optional = true }
fd-lock = { workspace = true, optional = true }
socket2 = { workspace = true, optional = true }
tracing = { workspace = true, optional = true }
dirs = { workspace = true, optional = true }
quinn = { workspace = true, optional = true }