[package]
name = "cell-transport"
version = { workspace = true }
edition = { workspace = true }

[features]
default = ["std", "shm", "axon"]
std = ["dep:tokio", "dep:socket2", "dep:dirs", "dep:tracing", "cell-core"]
shm = ["std", "dep:nix", "dep:memmap2"]
axon = ["std", "dep:cell-axon"]

[dependencies]
cell-core = { workspace = true, optional = true } 
cell-codec = { workspace = true }
cell-model = { workspace = true }
cell-discovery = { workspace = true }

# Implementations
cell-axon = { workspace = true, optional = true }

rkyv = { workspace = true }
rand = { workspace = true }
blake3 = { workspace = true }
anyhow = { workspace = true }

# OS / Network
tokio = { workspace = true, optional = true }
nix = { workspace = true, optional = true }
memmap2 = { workspace = true, optional = true }
fd-lock = { workspace = true, optional = true }
socket2 = { workspace = true, optional = true }
tracing = { workspace = true, optional = true }
dirs = { workspace = true, optional = true }
quinn = { workspace = true, optional = true }