[package]
name = "worker"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
tokio = { version = "1", features = ["full"] }
cell-sdk = { path = "../../../cell-sdk" }
cell-macros = { path = "../../../cell-macros" }
tracing = "0.1"
tracing-subscriber = "0.3"
rand = "0.8"